{% extends "base.html" %}

{% block head %}
{{block.super}}
{% endblock %}

{% block content %}


<div class="container-fluid">

  <div class="row" style="margin: 10px 0px; height: 100%">
    <div class="col-sm-8 no-float">
      <h2>Implementação didática de árvore de decisão</h2>

      <p></p>

      {{plot|safe}}
    </div>
    <div class="col-sm-4 no-float" style="padding: 10px; height: 100%">
      <form id="form" method="post" action="/app/">
        {% csrf_token %}
        <h5>Estratégia de seleção de atributo</h5>
        <label for="attribute_selection_strategy_gain" style="cursor: pointer">
          <input type="radio" name="attribute_selection_strategy" id="attribute_selection_strategy_gain" value="gain" {% if attribute_selection_method == 'gain' %} checked="checked" {% endif %} />
        Ganho de Informação</label>
        <label for="attribute_selection_strategy_gini" style="cursor: pointer">
          <input type="radio" name="attribute_selection_strategy" id="attribute_selection_strategy_gini" value="gini" {% if attribute_selection_method == 'gini' %} checked="checked" {% endif %} />
        Índice Gini</label>

        <p>&nbsp;</p>

        <h5>Controle aqui a construção da árvore</h5>
        <button type="submit" name="backward" class="btn btn-default" {% if used_attributes == 0 %} disabled="disabled" {% endif %}>
          <span class="fa fa-backward" aria-hidden="true"></span> Remover Vértice
        </button>
        <button type="submit" name="forward" class="btn btn-default" {% if queue|length == 0 %} disabled="disabled" {% endif %}>
          Adicionar Vértice <span class="fa fa-forward" aria-hidden="true"></span>
        </button>

        <p>&nbsp;</p>

        <h5>Próxima partição: {{partition}}</h5>

        <h5>Atributos ainda não utilizados</h5>
        {% for name, metric in attributes %}
            <button type="button" class="btn {% if forloop.first %} btn-success {% else %} btn-warning {% endif %}" data-toggle="tooltip" data-placement="top" title="{{metric_name}}: {{metric}}" style="margin-bottom: 10px">{{name}}</button>
        {% endfor %}
      </form>
    </div>
  </div>
</div>

<!-- /.container -->

{% endblock %}

